@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*primary colors*/
/*main color design*/
/*global text color*/
/*global bg color*/
/*font families*/
/*headings typo*/
/*GRID - media queries breakpoints*/
/*BOXED LAYOUT*/
/* Responsive for Desktop first*/
/* IE 10+ */
/* Custom scrollbar*/
* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  color: #1d1d1d;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  position: relative;
  scroll-behavior: smooth;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  letter-spacing: 0.025em;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #000000;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #eb663c;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.main {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: block;
  outline: none;
  cursor: pointer;
}
a:hover, a:focus {
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  image-rendering: auto;
}

.logo {
  max-width: 17rem;
}

.btn {
  width: 14rem;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
}
.btn a {
  display: inline-block;
  width: 100%;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.025em;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
}
.btn.--has-bg {
  background-color: #eb663c;
}
.btn.--rounded {
  border-radius: 999px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.btn.--underline a {
  text-decoration: underline;
}
.btn.--orange {
  color: #eb663c;
}

.main-title {
  line-height: 1.2;
  font-size: 3rem;
}
.main-title.--large {
  font-size: 4.8rem;
}
.main-title.--medium {
  font-size: 3rem;
  line-height: 4.8rem;
}
.main-title.--small {
  font-size: 1.8rem;
  line-height: 3.6rem;
}
.main-title.--white {
  color: #fff;
}
.main-title.--black {
  color: #155263;
}
.main-title.--thin {
  font-weight: 300;
}
.main-title.--bold {
  font-weight: bold;
}

.scroll-btn {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border: 0;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  box-shadow: 0 0 5px #acacac;
  z-index: 9999;
}
.scroll-btn.fas {
  font-size: 1.6rem;
}

/* Heading */
.heading h3 {
  color: #eb663c;
  text-transform: uppercase;
}
.heading h2 {
  margin-bottom: 3rem;
}

/* Heading - End */
/* Description - Box*/
.desc-box {
  position: relative;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: #91a5ac;
  line-height: 2.6rem;
  letter-spacing: 0.01em;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
}
.desc-box h3 {
  text-transform: capitalize;
  position: relative;
  padding-left: 3rem;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
}
.desc-box h3::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: #eb663c;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.desc-box .btn {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: bold;
}
.desc-box .btn a {
  color: #eb663c;
  text-align: left;
}

/* Description - Box - End*/
/* Animation*/
@-webkit-keyframes showForm {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes showForm {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes showForm {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes showForm {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showForm {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Animation - End*/
.container {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 780px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/**
  lg: < $lg-max
  md: < 1200
  sm: < 992
  xs: < 768
*/
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-12,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-12,
.col-xs-3,
.col-xs-4,
.col-xs-6,
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.3333333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.333333%;
  }

  .offset-sm-5 {
    margin-left: 41.666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.333333%;
  }

  .offset-sm-8 {
    margin-left: 66.666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }
}
@media (min-width: 992px) {
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.333333%;
  }

  .offset-md-2 {
    margin-left: 16.666667%;
  }

  .offset-md-5 {
    margin-left: 41.666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.333333%;
  }

  .offset-md-8 {
    margin-left: 66.666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }
}
@media (min-width: 1200px) {
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
}
@media (min-width: 1600px) {
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
}
.white {
  color: #fff;
}

.white-dark {
  color: #f3f3f3;
}

.text-gray {
  color: #91a5ac;
}

.gray {
  color: #898989;
}

.bg-black-light {
  background: #393e46;
}

.bg-white {
  background: #fff;
}

.bg-white-dark {
  background: #f3f3f3;
}

.bg-white-dark2 {
  background: #e7e7e7;
}

.text-center {
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 700;
  /** Top */
  /** Top - End*/
  /** Bottom*/
  /** Bottom - End*/
  /** Header - Burger*/
  /** Header - Burger - End*/
  /** Overlay */
  /** Overlay - End */
  /** Responsive */
  /** Responsive - End*/
}
.header__top {
  padding: 0.5rem 0;
  background: #eb663c;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}
.header__top .container {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.header__top ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__top li,
.header__top a {
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 0.05em;
  line-height: 2.4rem;
}
.header__info {
  margin-right: auto;
}
.header__info li:last-child {
  position: relative;
  margin-left: 4rem;
}
.header__info li:last-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2rem;
  width: 0.1rem;
  height: 2rem;
  background-color: #f5b39e;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.header__auth li {
  margin-right: 2.6rem;
}
.header__auth li i {
  margin-right: 0.5rem;
}
.header__auth li:last-child {
  margin-right: 0;
}
.header__auth a {
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
}
.header__auth a:hover {
  color: #363636;
}
.header__search {
  position: relative;
  width: 20rem;
  height: 100%;
  margin-left: 2.6rem;
}
.header__search input {
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 999px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.header__search input::placeholder {
  color: #fff;
}
.header__search i {
  position: absolute;
  top: 50%;
  right: 2rem;
  font-size: 1rem;
  color: #fff;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.header__user-box {
  position: relative;
  margin-left: auto;
}
.header__user-box .acc-info-btn {
  display: inline-block;
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: inherit;
  color: #fff;
  text-transform: uppercase;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
}
.header__user-box .acc-info-btn .icon {
  margin-right: 5px;
  color: #fff;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
}
.header__user-box .acc-info:hover .acc-info-btn, .header__user-box .acc-info:hover .acc-info-btn .icon {
  color: #363636;
}
.header__user-box .acc-info:hover .status-desktop {
  display: block;
}
.header__user-box .status-desktop {
  position: absolute;
  top: 3.5rem;
  right: 0;
  display: none;
  width: 300px;
  z-index: 800;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: inherit;
  color: #000000;
  text-transform: none;
}
.header__user-box .status-desktop .status-wrap {
  position: relative;
  left: 0;
  top: 30px;
  width: 30rem;
  line-height: 3rem;
  background-color: white;
}
.header__user-box .status-desktop .status__header {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__user-box .status-desktop .status__header::before {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 3.7rem);
  background-repeat: no-repeat;
  background-image: url(../imgs/status-header-bg.png);
  background-position: center;
  background-size: cover;
  position: absolute;
}
.header__user-box .status-desktop .status__header h4 {
  color: #fff;
  font-size: 24px;
  z-index: 1;
}
.header__user-box .status-desktop .status__body > *:not(.links) {
  padding: 10px 20px;
}
.header__user-box .status-desktop .status__body > div:nth-child(odd) {
  background-color: #f8f8f8;
}
.header__user-box .status-desktop .status__body .level__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__user-box .status-desktop .status__body .level__info .rank {
  font-weight: bold;
}
.header__user-box .status-desktop .status__body .level__process {
  background: #ebebeb;
  border-radius: 12px;
  height: 20px;
  width: 100%;
  padding: 2px;
  margin: 5px 0;
  overflow: hidden;
}
.header__user-box .status-desktop .status__body .level__process span {
  display: block;
  height: 100%;
  max-width: 100%;
  border-radius: 9px;
  background-color: #eb663c;
  background-image: -webkit-repeating-linear-gradient(135deg, transparent 0px, transparent 7px, rgba(0, 0, 0, 0.1) 7px, rgba(0, 0, 0, 0.1) 9px);
  background-image: repeating-linear-gradient(-45deg, transparent 0px, transparent 7px, rgba(0, 0, 0, 0.1) 7px, rgba(0, 0, 0, 0.1) 9px);
  background-size: 50px 50px;
  background-position: 0 0;
  overflow: hidden;
  -webkit-animation: move 4s linear infinite;
  animation: move 4s linear infinite;
}
.header__user-box .status-desktop .status__body .balance {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__user-box .status-desktop .status__body .balance__number {
  margin-left: 10px;
  font-weight: bold;
}
.header__user-box .status-desktop .status__body .balance__number .vnd {
  color: #eb663c;
}
.header__user-box .status-desktop .status__body .links > a {
  padding: 10px 20px;
  display: block;
  text-align: start;
  color: #000000;
}
.header__user-box .status-desktop .status__body .links > a i {
  float: right;
  line-height: 2;
  color: #eb663c;
}
.header__user-box .status-desktop .status__body .links > a:hover {
  color: #eb663c;
}
.header__user-box .status-desktop .status__footer .ft-btn {
  font-size: 13px;
  display: block;
  width: 100%;
  padding: 10px 0;
  border-radius: unset;
  background-color: #eb663c;
  color: white;
  text-align: center;
}
.header__user-box .status-mobile {
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  left: -250px;
  padding: 20px 10px 10px 10px;
  overflow-y: auto;
  max-width: 250px;
  width: 100%;
  -webkit-box-shadow: -2px 0px 2px #00000045;
  box-shadow: -2px 0px 2px #00000045;
  z-index: 800;
  background-color: #fff;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
}
.header__user-box .status-mobile.open {
  left: 0;
}
.header__user-box .status-mobile .username {
  color: #eb663c;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
.header__user-box .status-mobile .user-menu-logo {
  margin-bottom: 15px;
  display: block;
  text-align: center;
}
.header__user-box .status-mobile .user-menu-logo img {
  max-height: 50px;
  margin: auto;
}
.header__user-box .status-mobile .user-info {
  margin-bottom: 15px;
  text-align: center;
}
.header__user-box .status-mobile .user-info .money {
  color: #eb663c;
}
.header__user-box .status-mobile .user-info .vip {
  text-transform: uppercase;
  color: #eb663c;
  font-weight: bold;
}
.header__user-box .status-mobile .nav-percent {
  width: 100%;
  min-height: 8px;
  border-radius: 8px;
  background-color: #e1e1e1;
  position: relative;
  margin-bottom: 15px;
}
.header__user-box .status-mobile .nav-percent-ok {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #eb663c;
  border-radius: 8px;
}
.header__user-box .status-mobile .menu-in-profile {
  display: block;
  list-style-type: none;
  margin-bottom: 15px;
}
.header__user-box .status-mobile .menu-in-profile > li:not(:last-child) {
  border-bottom: 1px solid #595959;
}
.header__user-box .status-mobile .menu-in-profile > li > a {
  padding: 15px 0;
  display: block;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.header__user-box .status-mobile .menu-in-profile > li > a > i {
  margin-right: 10px;
  color: #eb663c;
  font-size: 18px;
  width: 20px;
}
.header__user-box .status-mobile .main-btn {
  display: block;
  margin: auto;
  padding: 1.5rem;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: inherit;
}
@media screen and (max-width: 991px) {
  .header__user-box .status-mobile {
    display: block;
  }
}
.header__bottom {
  width: 100%;
  min-height: 7rem;
  background: #363636;
  transition: transform 0.4s;
  -webkit-transition: transform 0.4s;
  -o-transition: transform 0.4s;
}
.header__bottom .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__logo {
  position: relative;
  padding-right: 6.4rem;
  margin-bottom: -4rem;
  height: 11rem;
}
.header__logo .logo {
  position: relative;
  max-width: 11.2rem;
  height: auto;
}
.header__logo::before, .header__logo::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  pointer-events: none;
}
.header__logo::before {
  right: 0;
  width: 100vw;
  background: #fff;
  z-index: 0;
}
.header__logo::after {
  right: -5.5rem;
  width: 5.5rem;
  background-image: url("../imgs/logo-bg.png");
  background-repeat: no-repeat;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__list li.active a, .header__list li:hover a {
  color: #eb663c;
}
.header__list li a {
  padding: 2.2rem 1.5rem;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  line-height: 2.5rem;
  letter-spacing: 0.025em;
}
.header__list li.has-sub-menu {
  position: relative;
}
.header__list li.has-sub-menu .sub-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 15rem;
  background-color: #eb663c;
  box-shadow: 0 2px 12px rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
}
.header__list li.has-sub-menu .sub-menu li {
  width: 100%;
}
.header__list li.has-sub-menu .sub-menu a {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #fff;
}
.header__list li.has-sub-menu .sub-menu a:hover {
  color: #363636;
}
.header__list li.has-sub-menu:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
}
.header__list li.has-sub-menu::after {
  content: "";
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  top: 50%;
  right: -0.3rem;
  font-size: 1.5rem;
  pointer-events: none;
  color: #fff;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
}
.header__list li.has-sub-menu:hover::after {
  color: #363636;
}
.header__burger {
  position: relative;
  width: 3rem;
  height: 2rem;
  display: none;
  cursor: pointer;
}
.header__burger span, .header__burger::before, .header__burger::after {
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background: #eb663c;
  transition: background-color 0.4s cubic-bezier(0.63, -0.02, 0.24, 1.12), transform 0.4s cubic-bezier(0.63, -0.02, 0.24, 1.12), opacity 0.4s cubic-bezier(0.63, -0.02, 0.24, 1.12);
  -webkit-transition: background-color 0.4s cubic-bezier(0.63, -0.02, 0.24, 1.12), transform 0.4s cubic-bezier(0.63, -0.02, 0.24, 1.12), opacity 0.4s cubic-bezier(0.63, -0.02, 0.24, 1.12);
  -o-transition: background-color 0.4s cubic-bezier(0.63, -0.02, 0.24, 1.12), transform 0.4s cubic-bezier(0.63, -0.02, 0.24, 1.12), opacity 0.4s cubic-bezier(0.63, -0.02, 0.24, 1.12);
}
.header__burger span {
  top: 50%;
  transform: translateY(-50%);
}
.header__burger::before, .header__burger::after {
  content: "";
  left: 0;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger.--close span {
  opacity: 0;
}
.header__burger.--close::before {
  transform: translateY(9px) rotate(-40deg);
}
.header__burger.--close::after {
  transform: translateY(-9px) rotate(40deg);
}
.header .overlay-mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 700;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.header .overlay-mobile.--show {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
}
@media (max-width: 1199px) {
  .header__search {
    display: none;
  }
  .header__logo {
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  .header__info {
    display: none !important;
  }
  .header__burger {
    display: block;
  }
  .header__logo div {
    display: none;
  }
  .header__list {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 25rem;
    height: 100vh;
    z-index: 750;
    background: #eb663c;
    border-radius: 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    transform: translate(-250px, 0);
    -webkit-transform: translate(-250px, 0);
    -o-transform: translate(-250px, 0);
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
  }
  .header__list::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  .header__list::-webkit-scrollbar-track {
    background: #000000;
  }
  .header__list::-webkit-scrollbar-thumb {
    background: #eb663c;
  }
  .header__list li {
    padding: 0 1rem;
    width: 100%;
  }
  .header__list li a {
    padding: 2rem 0;
    text-align: left;
  }
  .header__list li:hover a {
    color: #1d1d1d;
  }
  .header__list li.has-sub-menu::after {
    top: 3rem;
    right: 1rem;
  }
  .header__list li.has-sub-menu .sub-menu {
    position: static;
    display: block;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    opacity: 1;
    visibility: visible;
  }
  .header__list li.has-sub-menu .sub-menu a {
    padding: 1rem 0;
    color: #fff;
  }
  .header__list.--show {
    transform: translateX(0);
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
  }
  .header__user-box .acc-info:hover .status-desktop,
.header__user-box .acc-info:focus .status-desktop {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__auth li {
    margin-right: 2rem;
  }
}

.footer {
  border-top: 1px solid #e1e1e1;
  padding-top: 3rem;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer .container > div {
  width: calc(100% / 3 - 2rem);
}
.footer__info > *:not(:last-child) {
  margin-bottom: 3rem;
}
.footer__info .logo {
  max-height: 11rem;
  width: auto;
}
.footer__desc {
  font-size: 1.4rem;
  color: #363636;
  line-height: 2.4rem;
}
.footer__quote {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
}
.footer__list li {
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  border-left: 3px solid #eb663c;
}
.footer__list li small {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.05em;
}
.footer__author {
  width: 100% !important;
  padding: 2rem 0;
  margin-top: 3rem;
  font-size: 1.4rem;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  line-height: 2.9rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer .container {
    flex-direction: column;
  }
  .footer .container > div {
    width: 100%;
    margin-bottom: 2rem;
  }
}

/* Banner */
.banner {
  position: relative;
  height: 100%;
  padding-top: 21rem;
  padding-bottom: 9rem;
  background-image: url("../imgs/banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  /*Left*/
  /*Right*/
  /*Responsive*/
}
.banner .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.banner .container > div {
  width: calc(50% - 4.5rem);
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(51, 82, 87, 0.5);
  z-index: 0;
}
.banner__left .main-title {
  margin-bottom: 2.7rem;
}
.banner__tools {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.banner__tools .btn {
  background: #ff0000;
}
.banner__tools .btn a {
  padding: 1.4rem 3.5rem;
  font-size: 1.2rem;
}
.banner__tools .btn i {
  margin-right: 1rem;
}
.banner__tools .btn:last-child {
  margin-left: 0.7rem;
  background: #008744;
}
.banner__right {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
}
.banner__search {
  width: calc(100% / 6 * 4);
  margin-bottom: 16rem;
  background: #fff;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.banner__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.banner__title p {
  padding: 3rem;
  width: 50%;
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  color: #91a5ac;
  border-bottom: 2px solid #e1e1e1;
  white-space: nowrap;
  cursor: pointer;
  letter-spacing: 0.025em;
}
.banner__title p.--choice {
  color: #eb663c;
  border-bottom: 2px solid #eb663c;
}
.banner__form {
  padding: 2rem;
}
.banner__form .form-control {
  display: none;
  min-height: 17rem;
  -webkit-animation: showForm 0.4s;
  -moz-animation: showForm 0.4s;
  -ms-animation: showForm 0.4s;
  -o-animation: showForm 0.4s;
  animation: showForm 0.4s;
}
.banner__form .form-control.--show {
  display: block;
}
.banner__form .select {
  position: relative;
  width: 10rem;
  min-height: 3rem;
  margin-bottom: 3rem;
}
.banner__form .select select {
  padding: 1rem 0.8rem;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  outline: none;
  cursor: pointer;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.banner__form .select::before {
  content: "";
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  top: 50%;
  right: 1rem;
  font-size: 1.5rem;
  pointer-events: none;
  color: #eb663c;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.banner__form .input {
  position: relative;
  margin-bottom: 3rem;
}
.banner__form .input input {
  padding-bottom: 1.5rem;
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  outline: none;
}
.banner__form .input::after {
  position: absolute;
  top: 50%;
  left: 2rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.banner__form .btn {
  margin-left: auto;
}
.banner__form .btn a {
  padding: 1rem 2rem;
  height: 100%;
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.banner__info {
  margin-left: 3rem;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.banner__info-box {
  width: 50%;
  color: #fff;
  padding: 0 2rem;
  background-color: #eb663c;
  line-height: 1.5;
}
.banner__info-box h3 {
  padding: 2rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #e1e1e1;
}
.banner__info-box:first-of-type {
  background-color: #363636;
}
.banner__info-box:first-of-type .banner__info-desc {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.banner__info-box:first-of-type .banner__info-desc a {
  color: #eb663c;
  vertical-align: bottom;
}
.banner__info-desc {
  padding: 2rem 0;
  font-size: 1.4rem;
}
.banner__info-desc p {
  font-size: 2.4rem;
}
@media (max-width: 1199px) {
  .banner__left .main-title {
    font-size: 4rem;
  }
  .banner__search, .banner__info {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .banner {
    /*Left*/
  }
  .banner__left .main-title {
    font-size: 3rem;
  }
  .banner .container > div {
    width: calc(50% - 1.5rem);
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner .container {
    flex-direction: column;
  }
  .banner .container > div {
    width: 100%;
  }
  .banner__left {
    margin-bottom: 3rem;
  }
  .banner__search {
    margin-bottom: 3rem;
  }
  .banner__info {
    flex-direction: column;
  }
  .banner__info > div {
    width: 100%;
  }
}

/* Banner - End */
/* Procedure */
.procedure {
  background-color: #f3f6f7;
  padding: 7rem 0 0;
}
.procedure__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.procedure__box {
  position: relative;
  width: calc(100% / 6 - 2.5rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -o-transition: background 0.6s;
}
.procedure__box img {
  margin-bottom: 1.2rem;
  max-width: 4rem;
  max-height: 5rem;
  min-height: 4rem;
  display: none;
}
.procedure__box img.--show {
  display: block;
}
.procedure__box p {
  min-height: 7rem;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  color: #363636;
  line-height: 1.2;
}
.procedure__box.active p {
  color: #eb663c;
}
.procedure__box.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  transform: translate(-50%, 50%) rotate(45deg);
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
  -o-transform: translate(-50%, 50%) rotate(45deg);
}
.procedure__box.active::before {
  content: "";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  bottom: -0.5rem;
  z-index: 1;
  font-weight: 900;
  font-size: 1.5rem;
  color: #eb663c;
}
.procedure__content-list {
  padding: 8rem 1.5rem;
  border: 1px solid #e1e1e1;
  background-image: url("../imgs/procedure-bg.png");
  background-size: cover;
}
.procedure__content-list .content {
  display: none;
  max-width: 103rem;
  margin: 0 auto;
  -webkit-animation: showForm 0.4s;
  -moz-animation: showForm 0.4s;
  -ms-animation: showForm 0.4s;
  -o-animation: showForm 0.4s;
  animation: showForm 0.4s;
}
.procedure__content-list .content::after {
  content: "";
  clear: both;
  display: table;
}
.procedure__content-list .content > * {
  float: left;
  width: 50%;
}
.procedure__content-list .content .img {
  float: right;
}
.procedure__content-list .content .img img {
  width: calc(100% / 5 * 4);
  margin: 0 auto;
  object-fit: cover;
}
.procedure__content-list .content .main-title {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.procedure__content-list .content p {
  margin-bottom: 2rem;
  color: #91a5ac;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.procedure__content-list .content .btn {
  max-width: 14rem;
  width: 100%;
}
.procedure__content-list .content .btn a {
  padding: 1rem 4rem;
  color: #fff;
}
.procedure__content-list .content.--show {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .procedure__box {
    width: calc(100% / 3);
  }
  .procedure__box.active::before, .procedure__box.active::after {
    display: none;
  }
  .procedure__content-list {
    padding: 4rem 1.5rem;
    border: 1px solid #e1e1e1;
    background-image: url("../imgs/procedure-bg.png");
    background-size: cover;
  }
  .procedure__content-list .content {
    display: none;
    max-width: 103rem;
    margin: 0 auto;
    -webkit-animation: showForm 0.4s;
    -moz-animation: showForm 0.4s;
    -ms-animation: showForm 0.4s;
    -o-animation: showForm 0.4s;
    animation: showForm 0.4s;
  }
  .procedure__content-list .content > * {
    width: 100%;
  }
  .procedure__content-list .content .img {
    display: none;
  }
}

/* Procedure - End*/
/* Services*/
.services {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.services__left {
  top: 0;
  left: 0;
  width: 37.5rem;
  height: 100%;
  background-color: #363636;
}
.services__tabs h3 {
  padding: 3rem;
  text-transform: uppercase;
}
.services__list {
  width: 100%;
  height: 100%;
}
.services__list li {
  touch-action: auto;
  max-height: 9.6rem;
  position: relative;
  padding: 3rem;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  line-height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.services__list li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100% - 4rem);
  height: 1px;
  background: rgba(225, 225, 225, 0.2);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.services__list li.active {
  background-color: #eb663c;
}
.services__right {
  width: 100%;
  max-width: calc(100% - 37.5rem);
  background-color: #fff;
}
.services__right .container {
  padding: 8rem 0 8rem 7rem;
  margin: 0;
}
.services__slide {
  background-image: url("../imgs/services-bg.png");
  background-repeat: no-repeat;
  background-size: 40.51%;
  background-position: bottom right;
}
.services__slide h3 {
  color: #eb663c;
  text-transform: uppercase;
}
.services__slide h2 {
  margin-bottom: 3rem;
}
.services__slide-desc {
  max-width: 70rem;
  margin-bottom: 6rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.services__slide-desc > div {
  width: calc(50% - 1.5rem);
}
.services__slide-desc .desc-box {
  margin-top: 0;
}
.services__slide-desc .desc-box:first-child {
  font-size: 1.8rem;
  color: #363636;
  font-weight: bold;
  line-height: 3rem;
}
.services__slide-info {
  max-width: 53.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.services__slide-info div {
  width: calc(100% / 3);
}
.services__slide-info div p {
  font-size: 3.6rem;
  color: #eb663c;
  line-height: 4.8rem;
  font-weight: 300;
}
.services__slide-info div p:last-of-type {
  font-size: 1.6rem;
  color: #363636;
  line-height: 2.8rem;
}
.services__slide.--show {
  display: block;
}
@media (max-width: 991px) {
  .services {
    flex-direction: column;
  }
  .services__left {
    width: 100%;
  }
  .services__list li {
    padding: 1.5rem;
  }
  .services__right {
    max-width: 100%;
  }
  .services__right .container {
    padding: 4rem 1.5rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .services__slide {
    background: none;
  }
  .services__slide h2 {
    margin-bottom: 1rem;
  }
  .services__slide-desc {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .services__slide-desc > div {
    width: 100%;
  }
  .services__slide-desc .desc-box:first-child {
    margin-bottom: 1rem;
  }
  .services__slide-info {
    align-items: stretch;
  }
  .services__slide-info div {
    width: calc(100% / 2);
    text-align: center;
  }
  .services__slide-info div:last-child {
    margin: 0 auto;
  }
}

/* Services - End*/
/* Benefit*/
.benefit .container {
  padding: 8rem 1.5rem 0;
}
.benefit .heading {
  padding-left: 7rem;
}
.benefit__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.benefit__box {
  position: relative;
  width: calc(50% - 1.5rem);
  padding: 7rem;
  border: 1px solid #e1e1e1;
  margin-bottom: 3rem;
}
.benefit__box-number {
  position: absolute;
  top: 2.2rem;
  right: 3.5rem;
  color: #eb663c;
  font-size: 3rem;
  line-height: 4.8rem;
  transform: translateX(1.75rem);
  -webkit-transform: translateX(1.75rem);
  -o-transform: translateX(1.75rem);
}
.benefit__box::before, .benefit__box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}
.benefit__box::before {
  background-image: url("../imgs/benefit-bg.png");
  background-size: cover;
}
.benefit__box::after {
  background-color: rgba(0, 0, 0, 0.3);
}
.benefit__box:hover::after, .benefit__box:hover::before {
  opacity: 1;
}
.benefit__box:hover h3,
.benefit__box:hover .desc-box {
  color: #fff;
}
.benefit__quote {
  position: relative;
  max-width: 103rem;
  margin: 5.6rem auto 8.6rem;
  font-size: 3.6rem;
  line-height: 1.2;
  text-align: center;
  font-style: italic;
  padding: 0 8.2rem;
}
.benefit__quote span {
  color: #eb663c;
}
.benefit__quote::after, .benefit__quote::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 2.5rem;
  background-repeat: no-repeat;
}
.benefit__quote::before {
  top: 0;
  left: 0;
  background-image: url("../imgs/benefit-quote-left.png");
}
.benefit__quote::after {
  bottom: 0;
  right: 0;
  background-image: url("../imgs/benefit-quote-right.png");
}
@media (max-width: 991px) {
  .benefit .container {
    padding: 4rem 1.5rem 1rem;
  }
  .benefit .heading {
    padding-left: 0;
  }
  .benefit__box {
    padding: 3rem;
  }
  .benefit__box-number {
    top: 1.5rem;
    right: 3rem;
  }
  .benefit__quote {
    margin: 3rem 0 0 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .benefit__box {
    width: 100%;
  }
  .benefit__quote {
    display: none;
  }
}

/* Benefit - End*/
/* Faq */
.faq {
  padding-bottom: 3rem;
}
.faq .container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.faq__left {
  position: relative;
  width: calc(100% / 12 * 8);
  padding: 8rem 1.5rem 0;
}
.faq__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 114.5rem;
  margin-right: 1.5rem;
}
.faq__form {
  position: relative;
  width: 67rem;
  z-index: 1;
}
.faq__form .main-title {
  margin-bottom: 2.6rem;
}
.faq__form form {
  background-color: #fff;
  padding: 7rem;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.faq__form form input,
.faq__form form textarea {
  margin-bottom: 1rem;
  padding: 1.5rem 3rem;
  outline: none;
  border: 1px solid #e1e1e1;
  border-radius: inherit;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.faq__form form .btn {
  padding: 1.2rem 4.4rem;
  margin-left: auto;
  cursor: pointer;
  font-size: 1.4rem;
  color: #fff;
}
.faq__right {
  padding-left: 5.5rem;
  width: calc(100% / 12 * 4);
}
@media (max-width: 991px) {
  .faq .container {
    flex-direction: column;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
  .faq__left {
    padding-top: 2rem;
    width: 100%;
  }
  .faq__form {
    margin: 0 auto;
    width: 100%;
  }
  .faq__form form {
    padding: 3rem;
  }
  .faq__bg {
    width: 100%;
    margin-right: 0;
  }
  .faq__right {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 100%;
    width: 100%;
  }
}

/* Faq - End*/
.fixed-icon {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  z-index: 9999;
  filter: drop-shadow(0 0 1.5px #acacac);
  -webkit-filter: drop-shadow(0 0 1.5px #acacac);
  -moz-filter: drop-shadow(0 0 1.5px #acacac);
}
.fixed-icon:nth-of-type(1) {
  bottom: 22rem;
}
.fixed-icon:nth-of-type(2) {
  bottom: 17rem;
}
.fixed-icon:nth-of-type(3) {
  bottom: 12rem;
}
.fixed-icon:nth-of-type(4) {
  bottom: 7rem;
}

/*# sourceMappingURL=style.css.map */
