<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div class="form form-1">
			<div class="form__title">
				<p>Tìm kiếm sản phẩm</p>
				<p>Tra mã vận đơn</p>
			</div>
			<div class="form__inner">
				<div class="form-control --show">
					<div class="select">
						<select id="select-img" style="height: 100%">
							<option value="tb" data-img="imgs/taobao.png">Taobao</option>
							<option value="1688" data-img="imgs/1688.png">1688</option>
							<option value="alibaba" data-img="imgs/alibaba.png">
								Alibaba
							</option>
							<option value="tmall" data-img="imgs/tmall.png">Tmall</option>
						</select>
					</div>
					<div class="input">
						<input
							type="text"
							name="search"
							id="search-item"
							placeholder="Nhập sản phẩm cẩn tìm kiếm..."
						/>
					</div>
					<div class="btn text-center">
						<a href="#">Tìm kiếm</a>
						<img src="" alt="" />
					</div>
				</div>
				<div class="form-control">
					<div class="input">
						<input
							type="text"
							name="search"
							id="tracking"
							placeholder="Nhập sản phẩm cẩn tìm kiếm..."
						/>
					</div>
					<div class="btn text-center">
						<a href="#">Tìm kiếm</a>
						<img src="" alt="" />
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
