//scss for component common
a {
	text-decoration: none;
	display: block;
	outline: none;
	cursor: pointer;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	image-rendering: auto;
}

.logo {
	max-width: 17rem;
}

.btn {
	width: 14rem;
	@include br(5px);
	@include transition(background-color $t2);
	a {
		display: inline-block;
		width: 100%;
		font-size: 1.4rem;
		color: $white-cl;
		text-align: center;
		line-height: 1.2;
		@include tracking(25);
		@include transition(color $t2);
	}
	&.--has-bg {
		background-color: $main-cl;
	}
	&.--rounded {
		@include br(999px);
	}
	&.--underline {
		a {
			text-decoration: underline;
		}
	}
	&.--orange {
		color: $main-cl;
	}
}

.main-title {
	line-height: 1.2;
	font-size: 3rem;
	&.--large {
		font-size: 4.8rem;
	}
	&.--medium {
		font-size: 3rem;
		@include leading(30, 36);
	}
	&.--small {
		font-size: 1.8rem;
		@include leading(18, 36);
	}
	&.--white {
		color: $white-cl;
	}
	&.--black {
		color: $text-main-cl;
	}
	&.--thin {
		font-weight: 300;
	}
	&.--bold {
		font-weight: bold;
	}
}

.scroll-btn {
	width: 4rem;
	height: 4rem;
	background-color: #fff;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	border: 0;
	cursor: pointer;
	outline: none;
	border-radius: 50%;
	box-shadow: 0 0 5px #acacac;
	z-index: 9999;
	&.fas {
		font-size: 1.6rem;
	}
}

/* Heading */
.heading {
	// max-width: 83rem;
	// margin: 0 auto;
	// .main-title {
	// 	margin-bottom: 3rem;
	// }
	// &__desc {
	// 	margin-bottom: 3rem;
	// 	color: $text-gray-cl;
	// 	font-size: 1.4rem;
	// 	@include leading(14, 20);
	// }
	h3 {
		color: $main-cl;
		text-transform: uppercase;
	}
	h2 {
		margin-bottom: 3rem;
	}
}
/* Heading - End */

/* Description - Box*/
.desc-box {
	position: relative;
	margin-top: 2rem;
	font-size: 1.4rem;
	font-weight: 300;
	color: $text-gray-cl;
	@include leading(14, 24);
	@include tracking(10);
	@include transition(color $t2);

	h3 {
		text-transform: capitalize;
		position: relative;
		padding-left: 3rem;
		@include transition(color $t2);

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 0;
			width: 1rem;
			height: 1rem;
			background: $main-cl;
			@include transform(translateY(-50%));
		}
	}

	.btn {
		margin-top: 1.5rem;
		font-size: 1.4rem;
		line-height: 1.2;
		font-weight: bold;
		a {
			color: $main-cl;
			text-align: left;
		}
	}
}
/* Description - Box - End*/

/* Animation*/
@include keyframes(showForm) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* Animation - End*/
