// .footer {
// 	width: 100%;
// 	background: #363636;
// 	.container {
// 		padding: 4rem 1.5rem;

// 		@include flex(row, space-between, center);
// 		& > div {
// 			width: calc(100% / 3);
// 		}
// 	}

// 	&__info {
// 		.logo {
// 			margin-bottom: 3.7rem;
// 		}
// 		p:last-child {
// 			font-size: 1.4rem;
// 			color: $white-cl;
// 		}
// 	}

// 	&__menu {
// 		max-width: 30rem;

// 		h2 {
// 			margin-bottom: 1.4rem;
// 			font-size: 1.6rem;
// 		}

// 		li {
// 			a {
// 				width: 100%;
// 				display: inline-block;
// 				color: $white-cl;
// 				font-size: 1.4rem;
// 				padding: 1.2rem 0;
// 				border-bottom: 1px solid $border-cl;

// 				@include flex(row, space-between);
// 				@include transition(color $t);
// 			}

// 			&:hover {
// 				a {
// 					color: $main-cl;
// 				}
// 			}
// 		}
// 	}

// 	.author {
// 		padding: 1.5rem 0;

// 		background: #303030;
// 		text-align: center;
// 		color: $white-cl;
// 		font-size: 1.2rem;
// 		span {
// 			color: $main-cl;
// 		}
// 	}

// 	@include mobile {
// 		.container {
// 			flex-direction: column;
// 			div {
// 				width: 100%;
// 				margin-bottom: 3rem;
// 			}
// 		}
// 		&__menu {
// 			max-width: 100%;
// 		}

// 		.author {
// 			// margin-top: 2rem;
// 		}
// 	}
// }

.footer {
	border-top: 1px solid $border-cl;
	padding-top: 3rem;
	.container {
		@include flex(row, space-between, center, wrap);
		& > div {
			width: calc(100% / 3 - 2rem);
		}
	}

	//Info
	&__info {
		& > *:not(:last-child) {
			margin-bottom: 3rem;
		}

		.logo {
			max-height: 11rem;
			width: auto;
		}
	}
	&__desc {
		font-size: 1.4rem;
		color: $text-black-cl;
		@include leading(14, 20);
	}
	&__quote {
		font-size: 1.8rem;
		font-weight: 500;
		text-transform: uppercase;
		font-style: italic;
	}

	//Menu
	&__list {
		li {
			padding: 0.5rem 1rem;
			margin-bottom: 2rem;
			font-size: 1.6rem;
			border-left: 3px solid $main-cl;
			small {
				display: block;
				font-size: 1.2rem;
				margin-bottom: 0.5rem;
				@include tracking(50);
			}
		}
	}
	//Author
	&__author {
		width: 100% !important;
		padding: 2rem 0;
		margin-top: 3rem;
		font-size: 1.4rem;
		text-align: center;
		border-top: 1px solid $border-cl;
		@include leading(14, 30);
	}

	@include mobile {
		& {
			.container {
				flex-direction: column;
				& > div {
					width: 100%;
					margin-bottom: 2rem;
				}
			}
		}
	}
}
