.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	// max-height: 14rem;
	z-index: 700;
	/** Top */
	&__top {
		padding: 0.5rem 0;
		background: $main-cl;
		@include transition(opacity 0.5s);

		.container {
			height: 4rem;
			@include flex(row, flex-start, center, wrap);
		}

		ul {
			height: 100%;
			@include flex(row, center, center);
		}

		li,
		a {
			font-size: 1.2rem;
			color: $white-cl;
			@include tracking(50);
			@include leading(12, 24);
		}
	}

	&__info {
		margin-right: auto;
		li:last-child {
			position: relative;
			margin-left: 4rem;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: -2rem;
				width: 0.1rem;
				height: 2rem;
				background-color: #f5b39e;
				@include transform(translateY(-50%));
			}
		}
	}

	&__auth {
		li {
			margin-right: 2.6rem;
			i {
				margin-right: 0.5rem;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			@include transition(color $t2);
			&:hover {
				color: $black-bg-cl;
			}
		}
	}

	&__search {
		position: relative;
		width: 20rem;
		height: 100%;
		margin-left: 2.6rem;
		input {
			padding: 1rem 2rem;
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
			background-color: rgba($color: #000000, $alpha: 0.1);
			color: $white-cl;
			@include br(999px);
			&::placeholder {
				color: $white-cl;
			}
		}
		i {
			position: absolute;
			top: 50%;
			right: 2rem;
			font-size: 1rem;
			color: $white-cl;
			@include transform(translateY(-50%));
		}
	}

	// User - Box
	&__user-box {
		position: relative;
		margin-left: auto;

		//Acc-info
		.acc-info {
			&-btn {
				display: inline-block;
				white-space: nowrap;
				@include text(1.3rem, $white-cl, inherit, bold, uppercase);
				@include transition(color 0.2s);
			}

			&-btn .icon {
				margin-right: 5px;
				color: $white-cl;
				@include transition(color 0.2s);
			}

			&:hover .acc-info-btn,
			&:hover .acc-info-btn .icon {
				color: $text-black-cl;
			}

			&:hover .status-desktop {
				display: block;
			}
		}

		.status-desktop {
			position: absolute;
			top: 3.5rem;
			right: 0;
			display: none;

			width: 300px;
			z-index: 800;

			@include text(1.3rem, $black-cl, inherit, 500);

			.status-wrap {
				position: relative;
				left: 0;
				top: 30px;
				width: 30rem;
				line-height: 3rem;
				background-color: white;
			}

			.status__header {
				position: relative;
				height: 48px;
				@include flex(row, center, center);

				&::before {
					content: '';
					bottom: 0;
					left: 0;
					width: 100%;
					height: calc(100% + 3.7rem);
					background-repeat: no-repeat;
					background-image: url(../imgs/status-header-bg.png);
					background-position: center;
					background-size: cover;
					position: absolute;
				}

				h4 {
					color: $white-cl;
					font-size: 24px;
					z-index: 1;
				}
			}

			.status__body {
				& > *:not(.links) {
					padding: 10px 20px;
				}

				& > div:nth-child(odd) {
					background-color: #f8f8f8;
				}

				& .level__info {
					@include flex(row, space-between, center);

					.rank {
						font-weight: bold;
					}
				}

				.level__process {
					background: #ebebeb;
					border-radius: 12px;
					height: 20px;
					width: 100%;
					padding: 2px;
					margin: 5px 0;
					overflow: hidden;

					span {
						display: block;
						height: 100%;
						max-width: 100%;
						border-radius: 9px;
						background-color: $main-cl;
						background-image: -webkit-repeating-linear-gradient(
							135deg,
							transparent 0px,
							transparent 7px,
							rgba(0, 0, 0, 0.1) 7px,
							rgba(0, 0, 0, 0.1) 9px
						);
						background-image: repeating-linear-gradient(
							-45deg,
							transparent 0px,
							transparent 7px,
							rgba(0, 0, 0, 0.1) 7px,
							rgba(0, 0, 0, 0.1) 9px
						);
						background-size: 50px 50px;
						background-position: 0 0;
						overflow: hidden;
						-webkit-animation: move 4s linear infinite;
						animation: move 4s linear infinite;
					}
				}

				.balance {
					@include flex(row, space-between, flex-start);
					&__number {
						margin-left: 10px;
						font-weight: bold;
						& .vnd {
							color: $main-cl;
						}
					}
				}

				.links > a {
					padding: 10px 20px;
					display: block;
					text-align: start;
					color: $black-cl;
				}

				.links > a i {
					float: right;
					line-height: 2;
					color: $main-cl;
				}

				.links > a:hover {
					color: $main-cl;
				}
			}

			.status__footer .ft-btn {
				font-size: 13px;
				display: block;
				width: 100%;
				padding: 10px 0;
				border-radius: unset;
				background-color: $main-cl;
				color: white;
				text-align: center;
			}
		}

		.status-mobile {
			display: none;
			position: fixed;
			top: 0;
			height: 100vh;
			left: -250px;
			padding: 20px 10px 10px 10px;
			overflow-y: auto;
			max-width: 250px;
			width: 100%;
			-webkit-box-shadow: -2px 0px 2px #00000045;
			box-shadow: -2px 0px 2px #00000045;
			z-index: 800;
			background-color: #fff;
			color: #000;
			font-size: 13px;
			font-weight: 500;
			@include transition($t2);
			&.open {
				left: 0;
			}

			.username {
				color: $main-cl;
				margin-bottom: 10px;
				text-transform: uppercase;
				text-align: center;
			}

			.user-menu-logo {
				margin-bottom: 15px;
				display: block;
				text-align: center;

				img {
					max-height: 50px;
					margin: auto;
				}
			}

			.user-info {
				margin-bottom: 15px;
				text-align: center;

				.money {
					color: $main-cl;
				}

				.vip {
					text-transform: uppercase;
					color: $main-cl;
					font-weight: bold;
				}
			}

			.nav-percent {
				width: 100%;
				min-height: 8px;
				border-radius: 8px;
				background-color: #e1e1e1;
				position: relative;
				margin-bottom: 15px;

				&-ok {
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					background-color: $main-cl;
					border-radius: 8px;
				}
			}

			.menu-in-profile {
				display: block;
				list-style-type: none;
				margin-bottom: 15px;
				& > li:not(:last-child) {
					border-bottom: 1px solid #595959;
				}

				& > li > a {
					padding: 15px 0;
					display: block;
					text-align: left;
					text-transform: uppercase;
					color: $black-cl;
				}

				& > li > a > i {
					margin-right: 10px;
					color: $main-cl;
					font-size: 18px;
					width: 20px;
				}
			}

			.main-btn {
				display: block;
				margin: auto;
				padding: 1.5rem;

				width: 100%;

				color: $white-cl;
				text-align: center;
				font-size: inherit;
			}

			@media screen and (max-width: 991px) {
				& {
					display: block;
				}
			}
		}
	}
	//User Box - End
	/** Top - End*/

	/** Bottom*/
	&__bottom {
		width: 100%;
		min-height: 7rem;

		background: #363636;
		@include transition(transform $t2);
		.container {
			position: relative;
			@include flex(row, space-between, center);
		}
	}
	&__logo {
		position: relative;
		padding-right: 6.4rem;
		margin-bottom: -4rem;
		height: 11rem;
		.logo {
			position: relative;
			max-width: 11.2rem;
			height: auto;
		}
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			height: 100%;
			pointer-events: none;
		}
		&::before {
			right: 0;
			width: 100vw;
			background: $white-cl;
			z-index: 0;
		}
		&::after {
			right: -5.5rem;
			width: 5.5rem;
			background-image: url('../imgs/logo-bg.png');
			background-repeat: no-repeat;
		}
	}
	&__list {
		@include flex(row, flex-start, center);
		li {
			&.active,
			&:hover {
				a {
					color: $main-cl;
				}
			}

			a {
				padding: 2.2rem 1.5rem;
				width: 100%;
				height: 100%;

				font-size: 1.3rem;
				font-weight: 500;
				text-align: center;
				color: $white-cl;
				@include transition(color $t2);
				@include leading(13, 24);
				@include tracking(25);
			}

			&.has-sub-menu {
				position: relative;
				.sub-menu {
					position: absolute;
					top: 100%;
					left: 50%;
					width: 15rem;

					background-color: $main-cl;
					box-shadow: 0 2px 12px rgba($color: $bg-white-cl, $alpha: 0.2);

					@include br(4px);
					@include hidden;
					@include transform(translateX(-50%));
					@include transition(opacity 1s);
					li {
						width: 100%;
					}
					a {
						padding-top: 1.5rem;
						padding-bottom: 1.5rem;
						color: $white-cl;
						&:hover {
							color: #363636;
						}
					}
				}

				&:hover .sub-menu {
					@include visible;
					@include transition(opacity 1s);
				}

				&::after {
					content: '\f107';
					position: absolute;
					font-weight: 900;
					font-family: 'Font Awesome 5 Free';
					top: 50%;
					right: -0.3rem;
					font-size: 1.5rem;
					pointer-events: none;
					color: $white-cl;
					@include transform(translateY(-50%));
					@include transition(color $t2);
				}

				&:hover {
					&::after {
						color: $text-black-cl;
					}
				}
			}
		}
	}
	/** Bottom - End*/

	/** Header - Burger*/
	&__burger {
		position: relative;
		width: 3rem;
		height: 2rem;

		display: none;
		cursor: pointer;
		span,
		&::before,
		&::after {
			position: absolute;

			width: 100%;
			height: 0.2rem;
			background: $orange-cl;

			@include transition(
				background-color $t2 $cubic2,
				transform $t2 $cubic2,
				opacity $t2 $cubic2
			);
		}

		span {
			top: 50%;
			transform: translateY(-50%);
		}

		&::before,
		&::after {
			content: '';
			left: 0;
		}

		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}

		&.--close {
			// span,
			// &::before,
			// &::after {
			// 	background: $white-cl;
			// }

			span {
				opacity: 0;
			}

			&::before {
				transform: translateY(9px) rotate(-40deg);
			}
			&::after {
				transform: translateY(-9px) rotate(40deg);
			}
		}
	}
	/** Header - Burger - End*/

	/** Overlay */
	.overlay-mobile {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 700;
		@include transform(translateX(-100%));
		@include transition(0.2s);
		&.--show {
			@include transform(translateX(0));
		}
	}
	/** Overlay - End */

	/** Responsive */
	@include desktop {
		&__search {
			display: none;
		}
		&__logo {
			padding-right: 0;
		}
	}

	@include tablet {
		&__info {
			display: none !important;
		}
		&__burger {
			display: block;
		}
		&__logo {
			div {
				display: none;
			}
		}
		&__list {
			overflow-y: scroll;
			@include custom-scrollbar();

			position: fixed;
			top: 0;
			left: 0;
			flex-direction: column;

			width: 25rem;
			height: 100vh;

			z-index: 750;
			background: $main-cl;
			@include br(0);
			@include transform(translate(-250px, 0));
			@include transition(transform $t2);

			li {
				padding: 0 1rem;
				width: 100%;
				a {
					padding: 2rem 0;
					text-align: left;
				}
				&:hover {
					a {
						color: $text-cl;
					}
				}
			}

			li.has-sub-menu {
				&::after {
					top: 3rem;
					right: 1rem;
				}
				.sub-menu {
					position: static;
					display: block;
					width: 100%;
					background-color: transparent;
					box-shadow: none;
					@include transform(translate(0, -100%));
					@include visible;
					a {
						padding: 1rem 0;
						color: $white-cl;
					}
				}
			}

			&.--show {
				transform: translateX(0);
				@include transition(transform $t2);
			}
		}

		&__user-box {
			.acc-info:hover .status-desktop,
			.acc-info:focus .status-desktop {
				display: none;
			}
		}
	}

	@include mobile {
		&__auth {
			li {
				margin-right: 2rem;
			}
		}
	}
	/** Responsive - End*/
}
